<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CurrencyC</title>
</head>
<body>
    <header class="header">
        <h1 class="titulo">CurrencyC</h1>
    </header>
    <section class="content">
        <img src="assets/notas.jpg" class="bd-placeholder-img" alt="#">
        <p class="texto">Este site foi criado para ajudá-lo a converter facilmente entre diferentes moedas do mundo. Com o nosso conversor de moedas, você pode obter taxas de câmbio e realizar conversões precisas de moedas estrangeiras.</p>
    </section>
</body>
</html>


